@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #66827a;
    background-image: url('./img/house on hill/White\ dots.png');
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
}

main {
    margin-top: 170px;
}

.title {
    display: flex;
}

h1 {
    color: #fff;
    text-align: center;
    margin: auto;
}

.description {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-photo img {
    width: 800px;
    z-index: 10;
}

.description p {
    color: #fff;
    font-size: 1rem;
    text-align: justify;
    line-height: 40px;
    width: 800px;
}

.line-container {
    padding-top: 40px;
    padding-bottom: 80px;
}

.vertical-line {
    width: 1px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
}