@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #66827a;
    background-image: url('./img/house on hill/White\ dots.png');
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
}

main {
    margin-top: 170px;
}

h1 {
    color: #fff;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.description {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.about-photo img {
    width: 100%;
    margin: 20px 0;
}

.description p {
    color: #fff;
    font-size: 1rem;
    text-align: justify;
    line-height: 40px;
}

.quote {
    width: 100%;
    padding: 40px 0;
    margin: 20px 0;
    background-color: #182320;
}

.quote p {
    width: 90%;
    max-width: 800px;
    color: rgb(237, 173, 71);
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    line-height: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

p span {
    font-weight: bold;
    color: rgb(237, 173, 71);
}

.line-container {
    padding-top: 40px;
    padding-bottom: 80px;
}

.vertical-line {
    width: 1px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
}

/* responsive design settings */
@media only screen and (max-width: 600px) {
    main {
        margin-top: 140px;
    }

    .description p {
        color: #fff;
        font-size: 0.9rem;
        line-height: 30px;
        margin: 20px 0;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .quote {
        width: 100%;
        padding: 30px 0;
        margin: 15px 0;
    }

    .quote p {
        font-size: 0.9rem;
        line-height: 30px;
    }

    .about-photo img {
        margin: 0;
    }

    .vertical-line {
        height: 120px;
    }
}