@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #66827a;
    background-image: url('./img/house on hill/White\ dots.png');
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
}

main {
    margin-top: 170px;
}

.title {
    margin-bottom: 50px;
}

h1 {
    color: #fff;
    text-align: center;
    margin: auto;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 170px;
}

/* section 1 styling */
.categories {
    grid-area: categories;
  }

.info {
    grid-area: info;
}

.section1 .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "categories"
    "info";
    margin: 0 100px;
    margin-bottom: 100px;
    max-width: 1500px;
}

.categories {
    z-index: 10;
  }

.subcat {
    padding: 15px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    z-index: 10;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    text-align: center;   
}

.subcat h3 {
    color: #28433b;
    font-size: 1rem;
    line-height: 2rem;
    text-wrap: nowrap;
}

.course {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.description {
    margin: 50px;
    padding: 50px 20px;
    text-align: justify;
    color: #28433b;
    line-height: 2rem;
}

.description h4,
.keypoints h4 {
    color: #28433b;
    font-size: 1.1rem;
    font-weight: bold;
}

.description p {
    margin-top: 20px;
}

.keypoints {
    margin: 50px;
    padding: 50px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    line-height: 1.8rem;
    border-radius: 10px;
    min-width: 400px;
    max-width: 500px;
}

.keypoints h4 {
    padding-left: 70px;
}

.keypoints ol {
    margin-top: 20px;
    padding-left: 50px;
    color: #28433b;
}

.keypoints ol li::before {
    content: "";
    width: 20px;
    display: inline-block;
}

.cat-1 {
    background-color: rgb(125, 191, 193);
}

.info-course1 {
    background-color: rgb(171, 229, 230);
    border: 10px solid rgb(125, 191, 193);
}


/* responsive design settings */
@media screen and (min-width: 1000px) and (max-width:1200px) {
    .description {
        width: 70%;
        margin: 20px;
        padding: 20px 10px;
    }
    
    .keypoints {
        width: 30%;
        margin: 20px;
        padding: 20px 10px;
    }
    
    .keypoints h4 {
        padding-left: 70px;
    }
    
    .keypoints ol {
        margin-top: 20px;
        padding-left: 50px;
        color: #28433b;
    }
    
    .keypoints ol li::before {
        content: "";
        width: 20px;
        display: inline-block;
    }
}

@media screen and (max-width: 1000px) {
    .section1 .box {
        width: 90%;
    }

    .course {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .description {
        margin: 0;
        padding: 30px;
    }
        
    .description p {
        margin-top: 20px;
    }
    
    .keypoints {
        width: 90%;
        min-width: 50px;
        margin: 0 20px 20px 20px;
        padding: 30px;
    }
    
    .keypoints h4 {
        padding-left: 50px;
    }
    
    .keypoints ol {
        padding-left: 30px;
    }
}

@media only screen and (max-width: 600px) {
    main {
        margin-top: 140px;
    }

    .title {
        margin-bottom: 30px;
    }

    h1 {
        font-size: 1.5rem;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 1.2rem;
        text-align: center;
    }

    p {
        font-size: 0.9rem;
        line-height: 30px;
    }
    
    .subcat {
        height: 70px;
    }

    .subcat h3 {
        font-size: 0.95rem;
        text-wrap: wrap;
    }

    .description {
        padding: 15px;
    }

    .description h4 {
        font-size: 0.95rem;
    }

    .keypoints {
        padding: 15px;
    }

    .keypoints h4 {
        padding-left: 15px;
        font-size: 0.95rem;
    }

    .keypoints ol {
        margin-top: 10px;
        font-size: 0.9rem;
        padding-left: 15px;
    }

    .keypoints ol li::before {
        content: "";
        width: 5px;
        display: inline-block;
    }
}