/* footer styling */
footer {
    height: 150px;
    background-color: #12242a;
    color: white;
    text-align: center;
}

.footer-container {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

footer .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

footer .socialmedia-icon {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    border-radius: 50%;
}

footer p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    padding-bottom: 10px;
}