@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #66827a;
    background-image: url('./img/house on hill/White\ dots.png');
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
}

main {
    margin-top: 140px;
}

/* general container settings */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 170px 0 0 0;
}

/* container heading styling */
.container .heading {
    width: 50%;
    padding-bottom: 50px;
}

.container .heading h1 {
    color: #fff;
    margin-bottom: 5px;
}


/* container images styling */
.container .box {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.container .box .column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container .box .column img,
.container .box .column video {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
}

.container .box .column img:hover,
.container .box .column video:hover {
    cursor: pointer;
}

.popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
}

.popup-image span {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    width: 40%;
    object-fit: cover;
    max-width: 800px;
    max-height: auto;
}

.line-container {
    padding-top: 40px;
    padding-bottom: 80px;
}

.vertical-line {
    width: 1px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
}

@media only screen and (max-width: 769px) {
    .container .box {
        flex-direction: column;
    }

    .container .box .column {
        width: 100%;
    }

    .popup-image img {
        width: 80%;
    }
}

@media only screen and (max-width: 482px) {
    .container .heading {
        width: 100%;
    }
    .container .heading h1 {
        font-size: 1.2em;
    }
}