@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;500;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

  
/* navbar style settings */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 600ms;
    padding: 30px 100px;
    z-index: 100;
    letter-spacing: 1.2px;
    border-bottom: 1px solid #fff;
    background-color: #232E44;
    background-image: url('./img/house on hill/White\ dots.png');
    background-size: contain;
}

.logo {
    cursor: pointer;
    height: 150px;
    position: absolute;
    top: 0;
    transition: 1s;
}

/* sticky navbar settings */

header.sticky {
    height: 100px;
    padding: 5px 100px;
    background-color: #fff;
}

header.sticky nav ul li a {
    color:#21414b;
}

.logo.stickyLogo {
    cursor: pointer;
    height: 100px;
    position: absolute;
    top: 0;
}

.dropdown-settings.stickyDropdown {
    position: absolute;
    margin-top: -20px;
}

/* links navbar settings */
header ul {
    position: relative;
}

.nav-links li {
    position: relative;
    list-style: none;
    float: left;
}

.nav-links li a {
    color: #fff;
    font-size: 1.1em;
    margin: 0 70px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.nav-links li .courses b {
    padding: 0 10px;
    font-size: 1.5em;
    position: absolute;
    right: 2rem;
    bottom: calc(50% - 15px);
}

.underlined-title {
    padding: 55px 0;
    transition: 200ms;
}

a.underlined-title:after {
    content: "";
    position: absolute;
    background-color: #ff9774;
    height: 2.5px;
    width: 0;
    bottom: 45px;
    transition: 0.3s;
}

a.underlined-title:hover {
    color: #ff9774;
}

a.underlined-title:hover:after {
    width: 80%;
}

/* links navbar settings for dropdown */
.dropdown-settings {
    position: absolute;
    left: 25px;
    margin-top: 0;
    width: 450px;
    background: #ff9774;
    display: none;
    animation: display-content 200ms ease-in;
    transition: 600ms;
}

.nav-links li:hover .dropdown-settings {
    display: block;
}

.dropdown-settings {
    padding: 0;
}

.dropdown-settings:hover {
    cursor: pointer;
}

.dropdown-settings li {
    position: relative;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid #12242a;
   
}

.dropdown-settings li:hover {
    background-color: #fbc8b7;
}

.dropdown-settings li a {
    color: #12242a;
}

.nav-links .pink-title {
    color:#ff9774;
}

/* responsive navbar settings */
@media (max-width: 900px) {
    header {
        padding: 10px 20px;
    }
    header nav {
        position: absolute;
        width: 100%;
        top: 140px;
        left: 0;
        background: #21414b;
    }
    .nav-links li {
        width: 100%;
    }
    .dropdown-settings {
        position: relative;
        width: 100%;
    }
}