@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

main{
    overflow: hidden;
    background: linear-gradient(20deg, #21414b, #66827d, #21414b, #21414b);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

#content {
    background-color: #66827d;
    height: 100vh;
    width: 100%;
    animation: display-content;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes display-content {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* scroll mouse icon styling */
.scroll-down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    animation: showMouse 2s forwards 1s;
}

@keyframes showMouse {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.fade-away {
    opacity: 1;
    animation: fade-away 1s forwards;
}

@keyframes fade-away {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.scroll-down p {
    color: #305047;
    font-size: 0.9rem;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 7px 15px;
}

.wheel {
    width: 30px;
    height: 60px;
    border: 2px solid white;
    border-radius: 30px;
    position: relative;
    background-color: #305047;
}

.wheel::before {
    content: "";
    width: 5px;
    height: 10px;
    position: absolute;
    top: 50px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    opacity: 1;
    animation: wheel 1.8s infinite;
}

@keyframes wheel {
    from{
        opacity: 1;
        top: 10px;
    }
    to{
        opacity: 0;
        top: 40px;
    }
}

/* first page styles for slideshow */
.first-page {
    background-color: #ffd290;
    background-image: url("./img/fieldOfSparkles.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    min-height: 1000px;
    margin-top: -100px;
}

.homepagePresentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.homepageLeftSide {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin-top: 100px;
}

.homepageRightSide {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin-top: 100px;
}

.homepageLeftSide img {
    width: 80%;
    max-width: 800px;
}

.homepageParagraphs {
    display: flex;
    justify-content: center;
    width: 90%;
}

.homepageParagraphs p {
    padding: 0 10px;
    font-weight: 700;
    color: #305047;
    font-size: 1rem;
}

.homepageRightSide img {
    width: 90%;
    max-width: 800px;
    padding-top: 40px;
}

/* next pages - appear on scroll settings */
.hidden-element {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.3s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden-element:nth-child(1) {
    transition-delay: 200ms;
}

.hidden-element:nth-child(2) {
    transition-delay: 400ms;
}

.hidden-element:nth-child(3) {
    transition-delay: 600ms;
}


@media(prefers-reduced-motion) {
    .hidden-element {
        transition: none;
    }
}

/* next pages - section styling - general */
.next-pages section {
    color: white;
    display: grid;
    place-items: center;
    align-content: center;
    height: 120vh;
    z-index: 10;
}

.section-content {
    display: grid;
    place-items: center;
    align-content: center;
    gap: 10rem;
    grid-template-columns: 4fr 4fr;
}

.section2 {
    background-image: url('./img/house on hill/House\ on\ hill2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    padding-bottom: 20px;
    margin: 0;
    margin-top: -20vh;
    padding: 0;
    min-height: 1000px;
}

.section2 p {
    color: #21414b;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 100px;
    z-index: 10;
}

.section3 {
    background-image: url('./img/house on hill/White\ dots.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.section3 p {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 100px;
    line-height: 3rem;
    width: 800px;
    text-align: justify;
    margin: auto;
}

.section9 p {
    width: 800px;
    text-align: justify;
    margin: auto; 
    font-size: 1.5rem;
    font-weight: bold;
    padding: 60px;
    line-height: 3rem;
}

/* next pages - section styling - description part */
.description-part {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* .description-part button {
    transform: translateX(50%);
} */

.description-part h2 {
    font-size: 1.5rem;
}

.description-part p {
    font-size: 0.95rem;
    line-height: 1.7rem;
    text-align: justify;
    letter-spacing: 0.1px;
}

.description-part button {
    font-family: 'Quicksand', sans-serif;
    width: 150px;
    height: 50px;
    color: white;
    background-image: url('./img/background-button.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.5s;
}

.description-part button:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    cursor: pointer;
}

.description-part button:active {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #ed6335;
    color: #ed6335;
}

.description-part button a {
    text-decoration: none;
    color: #fff;
}

/* next pages - section styling - image part */
section:nth-child(3) {
    height: 50vh;
}
.piano-image {
    width: 100%;
    opacity: 0.9;
}

.section4 {
    background-image: url('./img/house on hill/White\ dots.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.image-part img {
    position: absolute;
    left: 50%;
    transform: translateX(-10%) translateY(-50%);
    width: 50%;
    height: auto;
    transition: all 1s;
    padding-left: 70px;
}

.section5-background {
    opacity: 0.2;
}

.section7-background {
    opacity: 0.2;
}

.section5,
.section6,
.section7,
.section8,
.section9 {
    background-image: url('./img/house on hill/White\ dots.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.section5 .section-content,
.section6 .section-content,
.section7 .section-content,
.section8 .section-content {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 25px 40px;
    min-height: 600px;
    height: 100vh;
    width: 80vw;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.vertical-line {
    width: 1px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    bottom: 10%;
}


/* settings for phone screens */
@media only screen and (max-width:600px) {
    .homepagePresentation {
        display: flex;
        flex-direction: column;
    }

    .homepageLeftSide {
        width: 90%;
    }
    
    .homepageRightSide {
        width: 90%;
        margin-top: -50px;
    }
      
    .homepageParagraphs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .homepageParagraphs p {
        padding: 5px;
        margin: 0;
    }
    
    .homepageRightSide img {
        padding-top: 50px;
    }

    .section2 {
        background-position: right;
    }
    
    .section2 p {
        font-size: 1.2rem;
        width: 50%;
        text-align: center;
        transform: translateX(40%) translateY(-80%);
    }

    .section3 p {
        font-size: 1.2rem;
        width: 100%;
        padding: 60px;
        line-height: 2.5rem;
    }
    
    .section9 p {
        font-size: 1.2rem;
        width: 100%;
        padding: 60px;
        line-height: 2.5rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .homepagePresentation {
        display: flex;
        flex-direction: column;
    }

    .homepageLeftSide {
        width: 65%;
    }
    
    .homepageRightSide {
        width: 65%;
        margin-top: -60px;
    }
      
    .homepageParagraphs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .homepageParagraphs p {
        padding: 5px;
        margin: 0;
    }
    
    .homepageRightSide img {
        padding-top: 50px;
    }

    .section2 {
        background-position: right;
    }
    
    .section2 p {
        font-size: 1.2rem;
        transform: translateY(-40vh);
        background-color: rgba(255, 255, 255, 0.7);
        padding: 10px;
        border-radius: 10px;
    }

    .section3 p {
        font-size: 1.2rem;
        width: 100%;
        padding: 60px;
        line-height: 2.5rem;
    }
    
    .section9 p {
        font-size: 1.2rem;
        width: 100%;
        padding: 60px;
        line-height: 2.5rem;
    }
}

@media only screen and (max-width: 1080px) {
    .scroll-down {
        display: none;
    }
    
    .piano-image {
        height: 40vh;
        width: auto;
    }

    .description-part {
        grid-area: description;
    }

    .image-part {
        grid-area: image;
    }

    .section-content {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-template-areas: 
        "image"
        "description";
    }

    .description-part h2 {
        font-size: 1.2rem;
        text-align: center;
    }

    .description-part p {
        font-size: 0.9rem;
        line-height: 1.5rem;
        text-align: justify;
    }

    .description-part button {
        width: 120px;
        height: 40px;
        font-size: 0.9rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .section5 .section-content,
    .section6 .section-content,
    .section7 .section-content {
        padding: 35px;
        min-height: 650px;
    }

    .image-part img {
        position: absolute;
        left: 50%;
        top: 5%;
        transform: translateX(-60%);
        width: 65%;
        height: auto;
        transition: all 1s;
    }
}